<!doctype html>
<html>
     <title>Pixelate</title>
     <style>
          #original {
              margin-top: 140px;
              float: left;
              margin-left: 250px;
          }
          #new {
              margin-top: 140px;
              float: left;
              margin-left:250px;
              margin-bottom:140px;
          }
          h1 {
            font-family:fantasy;
          }

     </style>
     <div id="original">
         <h1>Original Image</h1>
            <img src={{original}}>
     </div>
     <div id="new">
         <h1>Pixelated Image </h1>
            <img src={{new}}>
     </div>
</html>
